@page "/aos/{region}"
@using F3Wasm.Models
@using F3Wasm.Data
@using F3Core
@using System.Globalization
@inject HttpClient Http
@using ApexCharts

<PageTitle>F3 @Region.ToUpper() AOs</PageTitle>

@if (allData == null)
{
    <p>Loading...</p>
}
else
{
    <Row>
        <Column>
            <Button Color="currentView == OverallView.AllTime ? Blazorise.Color.Primary : Blazorise.Color.Light" Clicked="@(async (r) => await UpdateDisplay(OverallView.AllTime))">All Time</Button>
            <Dropdown @ref="yearDropdown" Display="Display.InlineBlock">
                <DropdownToggle Color="currentView == OverallView.Year || currentView == OverallView.Month ? Blazorise.Color.Primary : Blazorise.Color.Light">Year @if (currentView == OverallView.Year || currentView == OverallView.Month) @currentYear</DropdownToggle>
                <DropdownMenu MaxMenuHeight="120px">
                    @foreach (var year in validYears)
                    {
                        <DropdownItem Clicked="@(() => UpdateDisplay(OverallView.Year, year))">@year</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            <Dropdown @ref="monthDropdown" Display="Display.InlineBlock">
                <DropdownToggle Color="currentView == OverallView.Month ? Blazorise.Color.Primary : Blazorise.Color.Light">Month @if (currentView == OverallView.Month) @currentMonth</DropdownToggle>
                <DropdownMenu MaxMenuHeight="240px">
                    @foreach (var month in validMonths)
                    {
                        <DropdownItem Clicked="@(() => UpdateDisplay(OverallView.Month, 0, month))">@month</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
        </Column>
    </Row>
    <Row>
        <Column>
            <Button Clicked="@(async x => await Render())" Color="Blazorise.Color.Success">Render</Button>
        </Column>
    </Row>

    <ApexChart TItem="AoDisplay" Title="AOs" Options="options" @ref="chart">
        <ApexPointSeries TItem="AoDisplay" Items="aoCounts" Name="Count" XValue="@(e => e.Ao.Name)" YValue="@(e => e.Count)"
            SeriesType="SeriesType.Bar"
            Color="#005ba3" PointColor="e=> e.HexColor" ShowDataLabels />
    </ApexChart>

}
