@page "/ceremonies/{region}"
@using F3Core
@using F3Wasm.Models
@using F3Wasm.Data
@using F3Core.Regions
@using System.Text.Json
@using System.Text
@inject HttpClient Http

@if (close100s == null)
{
    <p>Loading...</p>
}
else
{
    <Table Narrow style="font-size:12px">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>PAX</TableHeaderCell>
                <TableHeaderCell>Post Count</TableHeaderCell>
                <TableHeaderCell>Maker</TableHeaderCell>
                <TableHeaderCell>Date</TableHeaderCell>
                <TableHeaderCell>AO</TableHeaderCell>
                <TableHeaderCell>Actions</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var pax in close100s)
            {
                <TableRow Color="GetRowColor(pax)">
                    <TableRowCell>@pax.Pax</TableRowCell>
                    <TableRowCell>@pax.PostCount</TableRowCell>
                    <TableRowCell>
                        @pax.LinkMaker
                        @if (pax.LinkMaker != null)
                        {
                            <Icon Name="@(pax.LinkMade ? IconName.Check : IconName.Times)" TextColor="@(pax.LinkMade ? TextColor.Success : TextColor.Danger)" Style="margin-left: 3px;" />
                        }
                    </TableRowCell>
                    @* Show schedule date as formate 12/24, no year *@
                    <TableRowCell>@(pax.ScheduledDate.HasValue ? pax.ScheduledDate.Value.ToString("MM/dd") : "")</TableRowCell>
                    <TableRowCell>@pax.Location</TableRowCell>
                    <TableRowCell>
                        <Button Color="Color.Secondary" Size="Size.ExtraSmall" Clicked="@(() => ShowModal(pax))">
                            <Icon Name="IconName.Edit" />
                        </Button>
                        @if (pax.PostCount % 100 < 90)
                        {
                            <Button Color="Color.Success" Size="Size.ExtraSmall" Clicked="@(() => Complete100(pax))">
                                <Icon Name="IconName.Check" />
                            </Button>
                        }
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>

    <Modal @ref="modalRef">
        @if (selectedPax != null)
        {
            <ModalContent Centered>
                <ModalHeader>
                    <ModalTitle>@selectedPax.Pax</ModalTitle>
                    <CloseButton />
                </ModalHeader>
                <ModalBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is8">
                            <Field>
                                <FieldLabel>Trinket Maker</FieldLabel>
                                <Select @bind-SelectedValue="@selectedPax.LinkMaker" >
                                    @foreach (var linkMaker in ceremonyData.LinkMakers)
                                    {
                                        <SelectItem Value="@linkMaker">@linkMaker</SelectItem>
                                    }
                                </Select>
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Field>
                                <FieldLabel>Trinket Made</FieldLabel>
                                <Check TValue="bool" @bind-Checked="@selectedPax.LinkMade"></Check>
                            </Field>
                        </Column>
                    </Row>

                    <Field>
                        <FieldLabel>Scheduled Date</FieldLabel>
                        <DatePicker TValue="DateTime?" DisplayFormat="MM/dd/yyyy" @bind-Date="@selectedPax.ScheduledDate" />
                    </Field>
                    <Field>
                        <FieldLabel>AO</FieldLabel>
                        <Select @bind-SelectedValue="@selectedPax.Location">
                            @foreach (var ao in aos)
                            {
                            <SelectItem Value="@ao">@ao</SelectItem>
                            }
                        </Select>
                    </Field>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                    <Button Color="Color.Primary" Clicked="@SaveCeremonyData">Save Changes</Button>
                </ModalFooter>
            </ModalContent>
        }
    </Modal>

    <div>Total: @close100s.Count</div>

    <hr/>

    <div>
        Trinket Makers:
        <ul>
            @foreach (var maker in ceremonyData.LinkMakers.Where(x => !string.IsNullOrEmpty(x)))
            {
                <li>
                    <Button Color="Color.Danger" Size="Size.ExtraSmall" Clicked="@(() => RemoveMaker(maker))">
                        <Icon Name="IconName.Times" />
                    </Button>
                    @maker

                </li>
            }
        </ul>

        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <TextEdit @bind-Text="@newMaker" Placeholder="New Maker PAX Name" />
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <Button Color="Color.Secondary" Clicked="@AddMaker">Add Maker</Button>
            </Column>
        </Row>
    </div>

    <hr/>

    @* Pax Report *@
    <div>
        <Button Color="Color.Secondary" Clicked="@(() => showCopy = !showCopy)">Show PAX for Report</Button>
    </div>

    @if (showCopy)
    {
        <div style="margin:12px 0px 12px 0px;">
            @foreach (var pax in close100s.OrderByDescending(x => x.PostCount))
            {
                <pre style="margin:0px;">@pax.Pax.PadRight(10)			@pax.PostCount</pre>
            }
        </div>
    }
}

@code {
    [Parameter]
    public string Region { get; set; }
    public Region RegionInfo { get; set; }
    public AllData allData { get; set; }
    public List<Close100> close100s { get; set; }
    public CeremonyData ceremonyData { get; set; }
    public List<string> aos { get; set; }
    public bool showCopy { get; set; }

    private string newMaker { get; set; }

    public Close100 selectedPax { get; set; }

    private Modal modalRef;

    private Task ShowModal(Close100 selected)
    {
        selectedPax = selected;
        return modalRef.Show();
    }

    private async Task Complete100(Close100 selected)
    {
        // Remove the pax from the list
        close100s.Remove(selected);
        ceremonyData.PaxData.RemoveAll(x => x.Pax == selected.Pax);
        await LambdaHelper.SaveJsonAsync(Http, Region, 1, JsonSerializer.Serialize(ceremonyData));
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }

    private async Task SaveCeremonyData()
    {
        // Find the pax in the ceremony data, or add it if it doesn't exist
        var ceremony = ceremonyData.PaxData.FirstOrDefault(x => x.Pax == selectedPax.Pax);
        if (ceremony == null)
        {
            ceremony = new Close100 { Pax = selectedPax.Pax };
            ceremonyData.PaxData.Add(ceremony);
        }

        ceremony.LinkMaker = selectedPax.LinkMaker;
        ceremony.LinkMade = selectedPax.LinkMade;
        ceremony.ScheduledDate = selectedPax.ScheduledDate;
        ceremony.Location = selectedPax.Location;            

        await LambdaHelper.SaveJsonAsync(Http, Region, 1, JsonSerializer.Serialize(ceremonyData));
        await HideModal();
    }

    private async Task AddMaker()
    {
        ceremonyData.LinkMakers.Add(newMaker);    
        await LambdaHelper.SaveJsonAsync(Http, Region, 1, JsonSerializer.Serialize(ceremonyData));
        newMaker = "";
    }

    private async Task RemoveMaker(string maker)
    {
        ceremonyData.LinkMakers.Remove(maker);
        await LambdaHelper.SaveJsonAsync(Http, Region, 1, JsonSerializer.Serialize(ceremonyData));
    }

    protected override async Task OnInitializedAsync()
    {
        RegionInfo = RegionList.All.FirstOrDefault(x => x.QueryStringValue == Region);
        if (RegionInfo == null)
        {
            throw new Exception("Invalid Region");
        }

        var allDataTask = LambdaHelper.GetAllDataAsync(Http, Region);
        var ceremonyDataTask = LambdaHelper.GetJsonAsync(Http, Region, 1);

        await Task.WhenAll(allDataTask, ceremonyDataTask);
        allData = allDataTask.Result;

        try
        {
            ceremonyData = JsonSerializer.Deserialize<CeremonyData>(ceremonyDataTask.Result);
        }
        catch (JsonException ex)
        {
            // Data isn't there, create it
            ceremonyData = new CeremonyData { LinkMakers = new List<string>(), PaxData = new List<Close100>() };
            await LambdaHelper.SaveJsonAsync(Http, Region, 1, JsonSerializer.Serialize(ceremonyData));
        }

        aos = allData.Aos.OrderBy(x => x.DayOfWeek).Select(x => x.Name).ToList();
        var ceremonyPax = ceremonyData.PaxData.Select(x => x.Pax).ToList();
        var paxPostCount = allData.Posts.GroupBy(x => x.Pax).Select(x => new Close100 { Pax = x.Key, PostCount = x.Count() }).ToList();
        
        // Grab anyone close to a 100, or anyone who already passed that's in the data.
        close100s = paxPostCount
                .Where(x => x.PostCount % 100 >= 90 || ceremonyPax.Contains(x.Pax))
                .OrderByDescending(x => x.PostCount % 100).ToList();

        var inactiveList = new List<string> { "OrderUp", "Bandwagon" };
        close100s = close100s.Where(x => !inactiveList.Contains(x.Pax)).ToList();

        // Join the two lists
        foreach (var pax in close100s)
        {
            var ceremony = ceremonyData.PaxData.FirstOrDefault(x => x.Pax == pax.Pax);
            if (ceremony != null)
            {
                pax.LinkMaker = ceremony.LinkMaker;
                pax.LinkMade = ceremony.LinkMade;
                pax.ScheduledDate = ceremony.ScheduledDate;
                pax.Location = ceremony.Location;
            }
        }
    }

    private Color GetRowColor(Close100 pax)
    {
        if (!string.IsNullOrEmpty(pax.LinkMaker) && pax.LinkMade && pax.ScheduledDate.HasValue && !string.IsNullOrEmpty(pax.Location))
        {
            return Color.Success;
        }

        if (pax.PostCount % 100 < 90)
        {
            return Color.Warning;
        }

        return "";
    }

    public class Close100
    {
        public string Pax { get; set; }
        public int PostCount { get; set; }
        public string LinkMaker { get; set; }
        public bool LinkMade { get; set; }
        public DateTime? ScheduledDate { get; set; }
        public string Location { get; set; }
    }

    public class CeremonyData
    {
        public List<string> LinkMakers { get; set; }
        public List<Close100> PaxData { get; set; }
    }
}