@page "/exicon"
@using F3Wasm.Models
@using F3Wasm.Data
@using F3Core
@using System.Globalization
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>F3 Exicon</PageTitle>

@* <TextEdit Placeholder="Advanced Search..." @bind-Text="@advancedSearch"></TextEdit>
<Button @onclick="AdvancedSearch">Search</Button>
<Button @onclick="Reset">Reset</Button>
 *@
<DataGrid 
    TItem="ExiconEntry"
    Data="@CurrentEntries"
    ShowPager
    SortMode="DataGridSortMode.Single"
    PageSize="50"
    Narrow
    ShowPageSizes
    Filterable
    FilterMethod="DataGridFilterMethod.Contains"
    PagerOptions="new(){ ButtonRowPosition=PagerElementPosition.Start }"
    Responsive
>
    <DataGridColumns>
        @* <DataGridColumn Field="@nameof(ExiconEntry.Term)" Width="50px" Caption="Name" /> *@
        <DataGridColumn Field="@nameof(ExiconEntry.Description)" Caption="Description" Filterable="true">
            <DisplayTemplate>
                @{
                    var entry = context as ExiconEntry;
                    <Card>
                        <CardBody>
                            <CardTitle Size="5">
                                @entry.Term
                            </CardTitle>
                            <CardText>
                                @entry.Description
                            </CardText>
                        </CardBody>
                    </Card>
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
    <LoadingTemplate>
        <p>Loading...</p>
    </LoadingTemplate>

</DataGrid>