@page "/sectordata/sacramento"
@using F3Core
@using F3Wasm.Data
@using System.Globalization
@using F3Wasm.Models
@using F3Wasm.Components
@inject HttpClient Http

<PageTitle>F3 Sacramento Sector Data</PageTitle>

@if (SectorData == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row g-2 mb-3 justify-content-center">
        @foreach (var stat in OverallStats)
        {
           <OverallStatDisplay Stat="stat" />
        }
    </div>

    <div class="data-grid-container">
        <TextEdit class="mb-2" Placeholder="Search PAX..." Text="@SearchTerm" TextChanged="@OnCustomFilterValueChanged"></TextEdit>
        <DataGrid TItem="PaxSectorData"
                  @ref="dataGrid"
                  Data="@SectorData.PaxSectorData"
                  CustomFilter="@OnCustomFilter"
                  ShowSearchBar="true"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="50"
                  Narrow
                  RowClicked="@(e => ToggleRow(e.Item))"
                  SortMode="DataGridSortMode.Single"
                  DetailRowTrigger="@(data => IsRowExpanded(data.Item))">

            <DataGridColumns>
            <DataGridColumn Field="PaxName" Caption="PAX Name" Sortable="true">
                <DisplayTemplate>
                    @{ var pax = context as PaxSectorData;
                        <div class="d-flex align-items-center">
                                <Icon Name="@(IsRowExpanded(pax) ? IconName.MinusCircle : IconName.PlusCircle)" class="mr-2" style="@($"color: {GetRegionColor(pax.PaxRegionData.OrderByDescending(x => x.Value.PostCount).FirstOrDefault().Key)}")" />
                            @pax.PaxName
                        </div>
                    }

                </DisplayTemplate>
            </DataGridColumn>
                <DataGridColumn Field="TotalPostCount" Caption="All Posts" Sortable="true" />
                <DataGridColumn Field="TotalQCount" Caption="All Qs" Sortable="true" />
                <DataGridColumn Field="FirstPost" Caption="1st Post" Sortable="true" DisplayFormat="{0:M/d/yy}" />
            </DataGridColumns>

            <DetailRowTemplate Context="pax">
                <div class="d-flex align-items-center">
                    <!-- Scrollable container for regions -->
                    <div class="d-flex gap-2 overflow-auto px-2 py-2 rounded "
                         style="max-width: 80vw; overflow-x: auto; white-space: nowrap;background:#f7f7f7">
                        @{
                            var isFirst = true;
                        }
                        @foreach (var region in pax.PaxRegionData.OrderByDescending(r => r.Value.PostCount))
                        {
                            <span style="@GetRegionPillStyle(region.Key, isFirst)" class="badge flex-shrink-0 p-2">@region.Key: @region.Value.PostCount</span>
                            isFirst = false;
                        }

                    </div>
                </div>
            </DetailRowTemplate>
        </DataGrid>
    </div>

    <style>
        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: gray; /* Default color, will customize later */
        }
        .data-grid-container {
            max-width: 100%;
            overflow-x: auto;
            min-height: 500px; /* Prevents shrinkage when filtering */
            position: relative;
        }

        .data-grid-container .b-table {
            width: 100%;
            table-layout: fixed; /* Ensures column widths don’t auto-expand */
        }

        .data-grid-container th,
        .data-grid-container td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /* Ensure the DataGrid shrinks properly on smaller screens */
        @@media (max-width: 768px) {
            .data-grid-container .b-table {
                display: block;
                overflow-x: auto;
                max-width: 100%;
            }
        }

        .badge {
            font-weight: 400;
            font-size: 14px;
        }

        /* Pager goes past page boundary */
        .justify-content-between {
            width: 100%;
        }
    </style>
}

@code {
    private SectorData SectorData { get; set; }
    private DataGrid<PaxSectorData> dataGrid;
    private string SearchTerm = "";
    private readonly Dictionary<string, string> RegionColors = new()
    {
        { "South Fork", "#00c73c" },
        { "Asgard", "#8367eb" },
        { "Gold Rush", "#c79400" },
        { "Mother Lode", "#1f2f03" },
        { "Delta", "#d31a08" },
        { "Rubicon", "#fc5460" },
        { "SacTown", "#1ca7ea" },
        { "Terracotta", "#ffa91c" },
    };

    private List<OverallStat> OverallStats;

    protected override async Task OnInitializedAsync()
    {
        SectorData = await LambdaHelper.GetSectorDataAsync(Http);

        var banjo = SectorData.PaxSectorData.FirstOrDefault(x => x.PaxName == "Banjo");

        OverallStats = new List<OverallStat>()
        {
            new OverallStat { Label = "Total Posts", Value = SectorData.TotalPosts.ToString("N0"), Icon = IconName.Running, Color = "bg-primary" },
            new OverallStat { Label = "Total PAX All-Time", Value = SectorData.TotalPax.ToString("N0"), Icon = IconName.Grin, Color = "bg-success" },
            new OverallStat { Label = "Active AOs", Value = SectorData.ActiveLocations.ToString("N0"), Icon = IconName.MapMarkerAlt, Color = "bg-info" },
            new OverallStat { Label = "Total PAX Last 30 Days", Value = SectorData.TotalPax30Days.ToString("N0"), Icon = IconName.CalendarWeek, Color = "bg-warning" }
        };
    }

    private HashSet<PaxSectorData> RoxExpandedSet = new();

    private bool IsRowExpanded(PaxSectorData pax) => RoxExpandedSet.Contains(pax);

    private void ToggleRow(PaxSectorData pax)
    {
        if (!RoxExpandedSet.Add(pax))
        {
            RoxExpandedSet.Remove(pax);
        }
    }

    private string GetRegionPillStyle(string regionName, bool isFirst)
    {
        if (!isFirst)
        {
            return "background: white;color: #555555; border: 1px solid #c1c1c1;";
        }

        var color = GetRegionColor(regionName);

        return !string.IsNullOrEmpty(color) ? $"background:{color};color: #white;font-weight:500" : "background: #6c757d;color:white;";
    }

    private string GetRegionColor(string regionName)
    {
        return RegionColors.TryGetValue(regionName, out var color) ? color : "#6c757d";
    }

    private Task OnCustomFilterValueChanged(string e)
    {
        SearchTerm = e;
        return dataGrid.Reload();
    }

    private bool OnCustomFilter(PaxSectorData model)
    {
        if (string.IsNullOrEmpty(SearchTerm))
            return true;

        return model.PaxName?.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase) == true;
    }
}
